$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

@import 'sass-bootstrap/lib/bootstrap'
@import "bourbon/bourbon"

body, html
    height: 100%
    // color: #fff

body
    // background: #1D3571
    // @include background-image(linear-gradient(top,  rgba(35,31,32, 1.0) 0%, rgba(35,31,32, 0.0) 100%))
    // @include background-image(linear-gradient(top, rgba(2,23,34,1) 0%, rgba(157,192,222,1) 100%))
    // background-repeat: no-repeat
    zoom: 80%
    -o-transform: scale(0.9) // firefox zoom
    .wrapper
        height: 100%

.container-wrapper
    font-family: "Microsoft JhengHei","Microsoft YaHei","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif
    // background: #1D71DD
    // background: #13498F
    background: rgb(25,62,91)
    @include background-image(linear-gradient(top, rgb(2,23,35) 0%, rgb(56,115,168) 100%))
    
    // @include background-image(linear-gradient(top, rgba(6,8,24,0.8) 0%, rgba(46,97,152,0.0) 100%))
    // @include background-image(linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.0) 100%))
    
    min-width: 1280px
    margin: 0px
    position: relative

.container
    min-width: 1170px
    min-height: 1187px
    // width: 100%
    // margin-left: auto
    // margin-right: auto
    // position: relative
    // @include background-image(linear-gradient(top, rgba(6,8,24,1) 0%, rgba(46,97,152,1) 100%))


.inactive
    display: none

div#footer
    height: 70px
    clear: both

.pattern
    position: absolute
    background-image: url(../images/bg-pattern.png)

.pattern.large

    width: 725px
    height: 681px
    top: 0px
    left: -363px
    opacity: .05
    z-index: 1


.pattern.small
    
    width: 725px
    height: 681px
    right: 0px
    top: 500px
    opacity: .08
    // background-size: 100%
    // background-repeat: no-repeat
    // background-position: 60px 120px
    z-index: 0


.hightlights
    padding-top: 150px
    width: 100%

    img
        position: relative
        z-index: 10
        margin-top: 40px

    p
        position: relative
        font-size: 23px
        margin-bottom: 0
        z-index: 10

    .company-name
        margin-top: 8px
        letter-spacing: 9px

    .left-bar
        position: absolute
        height: 280px
        width: 100%
        @include background-image(linear-gradient(90deg, rgba(22,33,54,0.8) 0%, rgba(22,33,54,0.24) 35%, rgba(22,33,54,0) 50%))
    
        &::after
            content: ""
            width: 50%
            height: 9px
            display: block
            z-index: 2
            position: relative
            top: 16px 
            background: rgba(#fff, 0)
            @include background-image(linear-gradient(90deg, rgba(#b4995b, 0.8) 0, rgba(#b4995b, 0.0) 100%))


    .right-bar
        margin-top: 10px
        position: absolute
        height: 280px
        width: 100%
        @include background-image(linear-gradient(-90deg, rgba(22,33,54,0.9) 0%, rgba(22,33,54,0.24) 35%, rgba(22,33,54,0) 50%))
    
        &::after
            content: ""
            left: 50%
            width: 50%
            height: 9px
            display: block
            z-index: 2
            position: relative
            top: 245px 
            background: rgba(#fff, 0)
            @include background-image(linear-gradient(-90deg, rgba(#b4995b, 0.9) 0, rgba(#b4995b, 0.0) 100%))


.msg
    margin-top: 70px
    font-size: 48px
    color: #6C99B9

.header
    background-image: url(../images/header-frame.png)
    height: 596px
    width: 1162px

    div#logo-words
        margin-top: 30px
        margin-right: 50px
        z-index: 1
    div#logo
        img
            height: 80px
        padding-top: 30px
        margin-left: 50px

    div#nav
        margin-right: 40px
        ul
            a
                padding-top: 0px
                padding-bottom: 0px
                color: white
                &:hover
                    background: none

            li
                border-right-style: solid
                border-width: thin
                border-color: #373737
                height: 20px
                vertical-align: middle

        ul.dropdown-menu
            background: black

            li
                height: 40px
                border-bottom-style: solid 
                border-right-style: none
                a
                    height: 40px
                    padding-top: 10px
 
    

    div#banner
        margin-left: 20px
        margin-top: 38px
        z-index: 100

div#instructor-list
    width: 1130px
    margin-top: -25px
    margin-left: 10px
    color:  white

    div#instructors

        background-color: rgb(125,185,232) // Old browsers
        @include background-image(linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(41,137,216,1) 0%,rgba(32,124,202,1) 0%,rgba(12,13,61,1) 45%,rgba(10,2,9,1) 100%))
        
        @include border-top-radius(5px)
        @include border-bottom-radius(5px)
        @include border-left-radius(5px)
        @include border-right-radius(5px)
        @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65))

        h3
            margin: 20px
            padding-top: 20px
        li 
            margin-left: 60px
            z-index: 10
            a
                padding: 0px
                
                img
                    border: solid thin
                    padding: 4px
            p
                text-align: center

    div#instructor-block
        margin-top: 15px
        z-index: 100

        img
            @include border-top-radius(10px)
            @include border-bottom-radius(10px)
            @include border-left-radius(10px)
            @include border-right-radius(10px)
            @include box-shadow(5px 5px 5px 3px hsla(0, 0%, 0%, 0.65))
            background: rgba(26,30,163,0.4)
            border: solid thin white
            padding: 4px
            width: 251px

        .man-story
            @include border-top-radius(10px)
            @include border-bottom-radius(10px)
            @include border-left-radius(10px)
            @include border-right-radius(10px)
            @include box-shadow(5px 5px 5px 3px hsla(0, 0%, 0%, 0.65))

            //background-color: rgba(125,185,232) // Old browsers
            //@include background-image(linear-gradient(left, rgba(125,185,232,0.5) 0%,rgba(41,137,216,0.5) 0%,rgba(26,30,163,1) 0%,rgba(12,13,61,1) 100%,rgba(10,2,9,1) 100%))
            @include background-image(linear-gradient(left, rgba(26,30,163,0.4) 0%,rgba(10,2,9,0.5) 100%))
            //opacity: 0.5
            float: right
            width: 850px
            height: 690px
            border: solid 3px
            border-right-style: none
            border-color: rgb(41,92,146)
            overflow-y: scroll 

            &::-webkit-scrollbar-track
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
                background-color: #F5F5F5
                background: url(../images/ball-bar.png) top center repeat-y
                width: 18px

            &::-webkit-scrollbar
                width: 18px
                height: 100%
                
            &::-webkit-scrollbar-thumb
                -webkit-border-radius: 10px
                border-radius: 10px
                background: url('../images/ball.png') top center no-repeat
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)

            &::-webkit-scroll
                height: 590px
                background-color: yellow
            

            h3
                margin-left: 15px
                z-index: 101
                margin-bottom: 50px
                color: white
                &::after
                    content: ""
                    width: 95%
                    height: 5px
                    display: block
                    z-index: 2
                    position: relative
                    top: 16px 
                    background: rgba(#fff, 0)
                    @include background-image(linear-gradient(90deg, rgba(180, 153, 91, 0.8) 0, rgba(226, 60, 29, 0.8) 100%))
            p
                margin-left: 14px
                // margin-right: 20px
                padding-right: 25px
                z-index: 101
                border: none
                color: rgba(255, 255, 255, 0.79)
                background: none
                padding-top: 10px 
                font-size: 1.2em
                line-height: 40px

            pre
                margin-left: 10px
                margin-right: 20px
                z-index: 101
                border: none
                color: rgba(255, 255, 255, 0.79)
                background: none
                padding-top: 10px 
                font-size: 1.2em

div#content-frame
    width: 1160px

div#article
    div.video-wrap
        float: right
        padding: 10px
        padding-left: 20px
        margin-right: 45px
    div.map-wrap
        float: right
        padding-right: 10px
        padding-left: 20px
        margin-right: 45px
        width: 420px
        height: 380px

    h3.half
        &::after
            width: 50%
    h3
        padding-left: 40px
        margin-bottom: 20px
        &::after
            content: ""
            width: 95%
            height: 3px
            display: block
            z-index: 2
            top: 10px
            position: relative
            background: rgba(#fff, 0)
            @include background-image(linear-gradient(90deg, rgba(180, 153, 91, 0.8) 0, rgba(226, 60, 29, 0.8) 100%))
    h4
        font-size: 1.5em
        margin-top: 25px
        padding-left: 40px

    .no-margin-top
        margin-top: 0px
    p
        font-size: 1.2em
        padding-left: 40px
        padding-right: 60px
        line-height: 2em
    p.right
        text-align: right
    p.indent
        text-indent: 2em
    ul
        margin-left: 40px
        padding-right: 60px

    a.email
        background-color: rgb(51,152,221)
        @include border-top-radius(5px)
        @include border-bottom-radius(5px)
        @include border-left-radius(5px)
        @include border-right-radius(5px)
        @include box-shadow(5px 5px 5px 3px hsla(0, 0%, 0%, 0.65))
        text-decoration: none
        padding: 5px 10px
        color: white




    background-image: url(../images/mid.png)
    background-repeat: repeat-y
    padding-bottom: 40px
    // margin-top: 12px
    width: 100%
    color: white



div#content-frame-top    
    
    width: 100%
    height: 40px
    display: block
    z-index: 2
    position: relative
    // top: 21px 
    // background: rgba(#fff, 0)
    background-image: url(../images/top.png) 
    background-repeat: no-repeat

div#content-frame-bottom
    width: 100%
    height: 139px
    display: block
    background-image: url(../images/bottom.png)
    background-repeat: no-repeat

@media screen and (max-width: 1200px)
    .container-wrapper
        min-width: 1200px
